body {
  background-color: black;
  color: white;
}

h1 {
  font-style: italic;
}

.notes {
  color: rgb(168, 150, 150);

  padding-top: 4px;
  font-size: 18px;
}

.standard-buttons {
  background-color: black;
  color: white;

  border: 2px solid rgb(53, 52, 52);
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
}

.standard-buttons:hover {
  background-color: rgb(75, 74, 74);
}

.error {
  color: rgb(255, 60, 0);
  background-color: rgb(60, 60, 60);

  font-size: 18px;
  border: 1px solid rgb(255, 60, 0);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;
}
